.cabecera
  -if (!usuario)
    %form{:action=>"/nombre",:method=>"post"}
      Introduce tu nombre para formar parte del Ranking! 
      %input{:type=>"text",:name=>"usuario[username]",:placeholder=>"Introduce tu nombre:"}
      %input{:type=>"hidden",:name=>"usuario[partidas_ganadas]",:value=>"0"}
      %input{:type=>"hidden",:name=>"usuario[partidas_jugadas]",:value=>"0"}
      %input{:type=>"submit",:value=>"enviar"}
  -else
    %form{:action=>"/nombre",:method=>"post"}
      Bienvenido, #{usuario}!
      %input{:type=>"hidden",:value=>"1",:name=>"logout"}
      %input{:type=>"submit",:value=>"logout"}
      
.marcador
  %a{:href=>"/usuario"}
    Mostrar Ranking!

.gameboard
  - HORIZONTALS.each do |row| 
    .gamerow
      - row.each do |p|
        %a{:href=>"/"}
          %div{:id => "#{p}", :class => "cell #{b[p]}"}
  .message
    %h1= m
