body {
  font-family: Helvetica, Arial, sans-serif;
  background: url("/images/ejem.jpeg") repeat;
  background-size: cover; }

.gameboard {
  width: 500px;
  margin: 0 auto;
  text-align: center; }

.gamerow {
  clear: both; }

.cell {
  color: blue;
  background-color: white;
  opacity: 0.8;
  width: 58.824px;
  height: 58.824px;
  margin: 4.902px;
  padding: 45.249px;
  float: left; }
  .cell:hover {
    color: black; }

/*para hacer que cambie los colores*/
#a1:hover {
  background-color: #df013a; }

/*para hacer que cambie los colores*/
#a2:hover {
  background-color: #64fe2e; }

/*para hacer que cambie los colores*/
#a3:hover {
  background-color: #df013a; }

#b1:hover {
  background-color: #64fe2e; }

#b2:hover {
  background-color: #df013a; }

#b3:hover {
  background-color: #64fe2e; }

#c1:hover {
  background-color: #df013a; }

#c2:hover {
  background-color: #64fe2e; }

#c3:hover {
  background-color: #df013a; }

.cross {
  background: url("/images/cross.gif") no-repeat;
  background-size: cover; }

.circle {
  background: url("/images/circle.gif") no-repeat;
  background-size: cover; }

.base-font, .message {
  color: #f9a7b0;
  font: 22px Helvetica, Arial, sans-serif; }

.message {
  display: inline;
  background-color: transparent; }

.cabecera {
  text-align: left;
  background-color: #81BEF7;
  color: black;
  margin-right: 30px; }
